.App {
  text-align: center;
}

nav {
  background-color: #662D75;
}
.nav-bg-custom-purple {
  background-color: #662D75;
}
.nav-bg-custom-purple-dark {
  background-color: #3e1b4779;
}
.nav-bg-custom-purple-light {
  background-color: #d9646487;
}

.light-orange-bg-custom{
  background-color: #D96464;
}

.home-linear-gradient-custom{
  background: linear-gradient(180.14deg, #672E76 4.62%, #EB816B 99.87%);
}
